body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.none-selection-text {
  user-select: none;
  -webkit-user-select: none;
}

.issue-spotting-highlight {
  background-color: #ff7b7b;
}

.rule-highlight {
  background-color: #fcdd71;
}

.application-highlight {
  background-color: #00a8d4;
}

.structure-highlight {
  background-color: #7576f5;
}
